# environments
env/
ENV/
Env/

# data
data/

# logs
examples/
runs/logs/

# debugging files
tests/paste.txt

# jupyter notebook checkpoints
.ipynb_checkpoints/

# pip
loss_landscapes.egg-info/

# dist
dist/
build/

# tests
tests/

*-ubyte
*.gz
*.pyc
*.DS_Store
*.pth
loss_landscapes.egg-info/

**/__pycache__/
